@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

/* Global font */
* {
  font-family: "Outfit", sans-serif;
}

/* Use Tailwind variable correctly */
:root {
  --color-primary: #E6CCFF;
}

/* ===== Scrollbar Styling ===== */
::-webkit-scrollbar {
  display:none
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(150, 150, 150, 0.4);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(150, 150, 150, 0.6);
}

/* ===== Dark Mode Scrollbar ===== */
.dark ::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.2);
}

.dark ::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.35);
}

/* Reset Markdown styles for chat */
.reset-tw:not(pre):not(code) {
  all: revert;
}

/* Loader Animation */
.loader div:nth-last-child(2) {
  animation-delay: 0.2s;
}
.loader div:nth-child(3) {
  animation-delay: 0.4s;
}
